<div id="todo-app" class="section-6">
  <h1 class="heading">Todo App</h1>

  <form #taskForm="ngForm" (ngSubmit)="addTask()" class="task-form">
    <input type="text" name="title" [(ngModel)]="title" placeholder="Title" required class="input" />
    <input type="text" name="description" [(ngModel)]="description" placeholder="Description" required class="input" />

    <select name="status" [(ngModel)]="status" required class="select">
      <option value="" disabled selected hidden>Select status</option>
      <option *ngFor="let status of statusArray" [value]="status">{{ status }}</option>
    </select>

    <button type="submit" class="btn">Add Task</button>
  </form>

  <div class="task-section">
    <h3 class="subheading">ToDo</h3>
    <div class="task-table-header">
      <span>Task Name</span>
      <span>Description</span>
      
      
    </div>
    <ng-container *ngIf="todoTasks.length > 0">
      <ul class="task-list">
        <li *ngFor="let task of todoTasks" class="task-item">
          <span>{{ task.title }}</span>
          <span>{{ task.description }}</span>
          <select [(ngModel)]="statusTodo" name="statusTodo" class="select">
            <option value="" disabled selected hidden>Select status</option>
            <option *ngFor="let status of statusArray" [value]="status">{{ status }}</option>
          </select>
          <button (click)="moveTask(task.id, task.status)" class="btn small">Move</button>
        </li>
      </ul>
    </ng-container>
  </div>

  <div class="task-section">
    <h3 class="subheading">In Progress</h3>
    <div class="task-table-header">
      <span>Task Name</span>
      <span>Description</span>
     
    
    </div>
    <ng-container *ngIf="inProgressTasks.length > 0">
      <ul class="task-list">
        <li *ngFor="let task of inProgressTasks" class="task-item">
          <span>{{ task.title }}</span>
          <span>{{ task.description }}</span>
          <select [(ngModel)]="statusInProgress" name="statusInProgress" class="select">
            <option value="" disabled selected hidden>Select status</option>
            <option *ngFor="let status of statusArray" [value]="status">{{ status }}</option>
          </select>
          <button (click)="moveTask(task.id, task.status)" class="btn small">Move</button>
        </li>
      </ul>
    </ng-container>
  </div>

  <div class="task-section">
    <h3 class="subheading">Done</h3>
    <div class="task-table-header">
      <span>Task Name</span>
      <span>Description</span>
    </div>
    <ng-container *ngIf="doneTasks.length > 0">
      <ul class="task-list">
        <li *ngFor="let task of doneTasks" class="task-item">
          <span>{{ task.title }}</span>
          <span>{{ task.description }}</span>
        </li>
      </ul>
    </ng-container>
  </div>
</div>
